<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bojunchen.myapplication">

	<uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_yinyang"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <activity android:name=".ui.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ui.recycleview.SecondActivity"></activity>
        <activity android:name=".ui.ui.viewdraghelper.TestViewDragHelperActivity"></activity>
        <activity android:name=".ui.ui.materialdesign.MaterialActivity1"
            android:theme="@style/Base.Theme.AppCompat.Light">
        </activity>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

	    <activity
		    android:name=".ui.ui.rn.MyReactActivity"
		    android:label="@string/app_name"
		    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
	    </activity>

    </application>

</manifest>